#DATABASE_DRIVER="mongodb"
#DATABASE_URL="mongodb://localhost:27017/prac"
DEBUG=*

# PostgreSQL
DATABASE_DRIVER="postgres"
DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_NAME="film"
DATABASE_SCHEMA="film"
DATABASE_USER=<username>
DATABASE_PASSWORD=<password>