#DATABASE_DRIVER="mongodb"
#DATABASE_URL="mongodb://localhost:27017/prac"
DEBUG=*

# PostgreSQL
DATABASE_DRIVER="postgres"
DATABASE_URL="postgresql://<username>:<password>@localhost:5432/film"
DATABASE_SCHEMA=<schema_name>
DATABASE_USER="film_user"
DATABASE_PASSWORD="film"